services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: ./src
          target: /src
          ignore:
            - __pycache__/
        - action: rebuild
          path: ./requirements.txt